:root {
  --background-color: #eee;
  --text-color: #333;
  --button-color: #ddd;
  --button-text-color: #333;
  --border-color: #ddd;
  --body-background-color: inherit;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #333;
    --text-color: #eee;
    --button-color: #444;
    --button-text-color: #eee;
    --border-color: #444;
    --body-background-color: #222;
  }
}

body {
  font-family: Arial, sans-serif;
  background-color:  var(--body-background-color)
}

.mousepad {
  width: 100vw;
  height: calc(50vh + 100px);
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  border-radius: 5px;
  position: relative;
}

.button-rows {
  margin-top: 10px;
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-left: -5px;
  margin-right: -5px;
}


button {
  padding: 15px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  background-color: var(--button-color);
  color: var(--button-text-color);
}

.slider-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.slider-container label {
  margin-right: 10px;
  font-size: 14px;
}

#sensitivity {
  width: 150px;
}
